/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/styles/Results.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Results_wrapper__60H7w {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #FFFFFF;
  }
  
  .Results_header__tIJ5S {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #145DA0;
  }
  
  .Results_logo__taLdp {
    height: 80px; /* Adjust according to preference */
    margin-right: auto;
  }
  
  
  .Results_resultsContainer__RHPfr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;
    width: 100vh;
    gap: 1rem;
  }
  
  .Results_resultsTable__ioHPW {
    /* to be filled out */
    width: 100%;
  }
  .Results_fileCard__x83_w p {
    background-color: #1f4f7c;
    padding: 1rem;
    border-radius: 5px;
  }
  .Results_fileCard__x83_w {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 1rem;
    background-color: #145DA0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 100vh;
  }
  
  .Results_searchAgainButton__Mirya {
    height: 50px;
    padding: 4px 8px;
    background-color: #0C2D48; 
    color: white; 
    border: none;
    border-radius: 4px;
    font-family: 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    cursor: pointer;
    margin-right: 35px;
    margin-top: 15px;
  }

  .Results_searchAgainButton__Mirya:hover {
    background-color: #B1D4E0; /* lighter shade for hover effect */
  }

  .Results_resultsContainer__RHPfr table {
    width: 100%;
  }
  .Results_resultsContainer__RHPfr th {
    text-align: center;
    padding: 1rem;
    border: 1px solid #FFFFFF;
  }
  .Results_resultsContainer__RHPfr td {
    text-align: center;
    border: 1px solid #FFFFFF;
    background-color: #B1D4E0;
    color: black;
  }
